:root {

    --font-family-base: 'Montserrat', sans-serif;
    
    --font-family-sans: 'Inter', system-ui, sans-serif;
    --font-family-serif: 'Georgia', serif;

    --font-size-base: 1rem; // 16px
    --font-size-sm: 0.875rem;
    --font-size-lg: 1.25rem;

    --line-height-base: 1.6;
    --line-height-heading: 1.2;

    --color-text: #111;
    --color-muted: #666;
    --color-background: #fff;

    --color-link: #009FDA;
    --color-link-hover: #0078AA;
    --color-link-visited: #6A5ACD;
}