@import 'modern-normalize/modern-normalize.css';

/* _typography.scss */
@import 'typography';
@import 'buttons';
@import 'variables';
@import 'layout';
@import 'hero';
@import 'ScrollingBanner';

a {
    color: var(--color-link);
    text-decoration: underline;
    &:hover {
        color: var(--color-link-hover);
    }

    &:visited {
        color: var(--color-link);
    }
}

main {
    padding: 0.5rem 3rem; // needs to be abstracted TODO
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    backdrop-filter: blur(0.5em);
    background: rgba(white, 0.9);
    &--scrolled {
        box-shadow: 0 0 0 1px rgba(black, 0.1), 0 0 .1em .02em rgba(black, 0.05);
        transition: box-shadow 0.1s ease;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem; // needs to be abstracted.. 
    &__logo {
        flex-shrink: 0;
        align-items: center;
        font-weight: bold;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__links {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem;
    }

        &__link {
            text-decoration: none;
            &--active {
                text-decoration: underline;
             }
            &:visited {
                color: black;
            }

    }

    &__cta a {
        display: block;
        background: var(--color-link);
        color: white;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 5px;
    }
}

// needs to be moved..to its own section "layout"
.main {
    padding-top: 5em;
}